.react-calendar__tile {
    text-align: left;
}

.memo-tile {
    display: block;
    font-size: 12px;

}

.current-date {
    background-color: #bae6fd !important;
}

.current-date:hover {
    background-color: white !important;
}
