/* style.css */

.categories-container {
    margin-bottom: 20px;
  }
  
  .categories-table {
    display: flex;
    flex-direction: column;
  }
  
  .category-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .add-category-row {
    margin-bottom: 10px;
  }
  
  .category-input {
    margin-right: 10px;
    padding: 5px;
    width: 200px;
  }
  
  .category-checkbox {
    margin-right: 10px;
  }
  
  .delete-category-button {
    margin-left: auto;
  }
  
.dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Title styles */
  .dashboard-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Search bar styles */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Category filter styles */
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* List styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #eaeaea;
  }
  
  ul ul {
    padding-left: 20px;
  }
  
  /* Batch management controls styles */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Navigation link styles */
  .buttonLink {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .buttonLink:hover {
    background-color: #0056b3;
  }
  .dashboard-container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-bottom: 10px;
  }
  
  .location-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .memo-box {
    margin-top: 10px;
  }
  
  .memo {
    background-color: #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 999;
  }
  
  .popup h2 {
    margin-bottom: 10px;
  }
  
  .popup ul {
    list-style: none;
    padding: 0;
  }
  
  .popup li {
    margin-bottom: 10px;
  }
  
  .popup button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #0056b3;
  }
  